<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.CartMapper">

	<!--cg generate by lijian at 2019-12-01 13:26-->

	<!--通用购物车表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.Cart" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="mallId" column="MALL_ID" jdbcType="BIGINT" />
		<result property="shopId" column="SHOP_ID" jdbcType="BIGINT" />
		<result property="userId" column="USER_ID" jdbcType="BIGINT" />
		<result property="cartStatus" column="CART_STATUS" jdbcType="INTEGER" />
		<result property="itemId" column="ITEM_ID" jdbcType="BIGINT" />
		<result property="skuId" column="SKU_ID" jdbcType="BIGINT" />
		<result property="count" column="COUNT" jdbcType="INTEGER" />
		<result property="price" column="PRICE" jdbcType="INTEGER" />
		<result property="phone" column="PHONE" jdbcType="INTEGER" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	MALL_ID,	SHOP_ID,	USER_ID,	CART_STATUS,	ITEM_ID,	SKU_ID,	COUNT,	PRICE,	PHONE
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtCreate != null and gmtCreate != '' "> and GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="mallId != null and mallId != '' "> and MALL_ID = #{mallId,jdbcType=BIGINT} </if>
		<if test="shopId != null and shopId != '' "> and SHOP_ID = #{shopId,jdbcType=BIGINT} </if>
		<if test="userId != null and userId != '' "> and USER_ID = #{userId,jdbcType=BIGINT} </if>
		<if test="cartStatus != null "> and CART_STATUS = #{cartStatus,jdbcType=INTEGER} </if>
		<if test="itemId != null and itemId != '' "> and ITEM_ID = #{itemId,jdbcType=BIGINT} </if>
		<if test="skuId != null and skuId != '' "> and SKU_ID = #{skuId,jdbcType=BIGINT} </if>
		<if test="count != null "> and COUNT = #{count,jdbcType=INTEGER} </if>
		<if test="price != null "> and PRICE = #{price,jdbcType=INTEGER} </if>
		<if test="phone != null "> and PHONE = #{phone,jdbcType=INTEGER} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM cart
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

  <delete id="deleteBySkus" parameterType="com.copyright.mall.domain.dto.cart.DeleteCartParam">
    DELETE FROM cart
    where USER_ID = #{userId,jdbcType=BIGINT}
    and SKU_ID in <foreach collection="skus" open="(" separator="," close=")" index="index" item="sku">#{sku,jdbcType=BIGINT}</foreach>
  </delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" parameterType="com.copyright.mall.bean.Cart">
		 INSERT INTO cart
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="mallId != null"> MALL_ID,</if>
			<if test="shopId != null"> SHOP_ID,</if>
			<if test="userId != null"> USER_ID,</if>
			<if test="cartStatus != null"> CART_STATUS,</if>
			<if test="itemId != null"> ITEM_ID,</if>
			<if test="skuId != null"> SKU_ID,</if>
			<if test="count != null"> COUNT,</if>
			<if test="price != null"> PRICE,</if>
			<if test="phone != null"> PHONE,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallId!=null">#{mallId,jdbcType=BIGINT},</if>
			<if test="shopId!=null">#{shopId,jdbcType=BIGINT},</if>
			<if test="userId!=null">#{userId,jdbcType=BIGINT},</if>
			<if test="cartStatus!=null">#{cartStatus,jdbcType=INTEGER},</if>
			<if test="itemId!=null">#{itemId,jdbcType=BIGINT},</if>
			<if test="skuId!=null">#{skuId,jdbcType=BIGINT},</if>
			<if test="count!=null">#{count,jdbcType=INTEGER},</if>
			<if test="price!=null">#{price,jdbcType=INTEGER},</if>
			<if test="phone!=null">#{phone,jdbcType=INTEGER},</if>
		 </trim>
	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.Cart">
		 UPDATE cart
 		 <set>
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallId != null">MALL_ID = #{mallId,jdbcType=BIGINT},</if>
			<if test="shopId != null">SHOP_ID = #{shopId,jdbcType=BIGINT},</if>
			<if test="userId != null">USER_ID = #{userId,jdbcType=BIGINT},</if>
			<if test="cartStatus != null">CART_STATUS = #{cartStatus,jdbcType=INTEGER},</if>
			<if test="itemId != null">ITEM_ID = #{itemId,jdbcType=BIGINT},</if>
			<if test="skuId != null">SKU_ID = #{skuId,jdbcType=BIGINT},</if>
			<if test="count != null">COUNT = #{count,jdbcType=INTEGER},</if>
			<if test="price != null">PRICE = #{price,jdbcType=INTEGER},</if>
			<if test="phone != null">PHONE = #{phone,jdbcType=INTEGER},</if>

 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*)
		 FROM cart
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

  <!-- 按条件查询列表 -->
  <select id="selectByObjectListOrderByShopId" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM cart
    <where>
      <include refid="conditions"/>
    </where>
    order by MALL_ID desc ,SHOP_ID desc
  </select>

</mapper>
