<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.ItemMapper">

	<!--cg generate by lijian at 2019-11-27 17:03-->

	<!--通用商品表表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.Item" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="shopId" column="SHOP_ID" jdbcType="BIGINT" />
		<result property="barcode" column="BARCODE" jdbcType="VARCHAR" />
		<result property="itemClass" column="ITEM_CLASS" jdbcType="VARCHAR" />
		<result property="relatedCopyright" column="RELATED_COPYRIGHT" jdbcType="VARCHAR" />
		<result property="itemStatus" column="ITEM_STATUS" jdbcType="INTEGER" />
		<result property="itemTitle" column="ITEM_TITLE" jdbcType="VARCHAR" />
		<result property="ad" column="AD" jdbcType="VARCHAR" />
		<result property="titleImg" column="TITLE_IMG" jdbcType="VARCHAR" />
		<result property="contentImg" column="CONTENT_IMG" jdbcType="VARCHAR" />
		<result property="artCategory" column="ART_CATEGORY" jdbcType="VARCHAR" />
		<result property="itemType" column="ITEM_TYPE" jdbcType="INTEGER" />

    <result property="price" column="PRICE" jdbcType="INTEGER" />
    <result property="sizeKey" column="SIZE_KEY" jdbcType="VARCHAR" />
    <result property="sizeValue" column="SIZE_VALUE" jdbcType="VARCHAR" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	SHOP_ID,	BARCODE,	ITEM_CLASS,	RELATED_COPYRIGHT,	ITEM_STATUS,	ITEM_TITLE,	AD,	TITLE_IMG,	CONTENT_IMG,	ART_CATEGORY, ITEM_TYPE
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtCreate != null and gmtCreate != '' "> and GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="shopId != null and shopId != '' "> and SHOP_ID = #{shopId,jdbcType=BIGINT} </if>
		<if test="barcode != null and barcode != '' "> and BARCODE = #{barcode,jdbcType=VARCHAR} </if>
		<if test="itemClass != null and itemClass != '' "> and ITEM_CLASS = #{itemClass,jdbcType=VARCHAR} </if>
		<if test="relatedCopyright != null and relatedCopyright != '' "> and RELATED_COPYRIGHT = #{relatedCopyright,jdbcType=VARCHAR} </if>
		<if test="itemStatus != null "> and ITEM_STATUS = #{itemStatus,jdbcType=INTEGER} </if>
		<if test="itemTitle != null and itemTitle != '' "> and ITEM_TITLE = #{itemTitle,jdbcType=VARCHAR} </if>
		<if test="ad != null and ad != '' "> and AD = #{ad,jdbcType=VARCHAR} </if>
		<if test="titleImg != null and titleImg != '' "> and TITLE_IMG = #{titleImg,jdbcType=VARCHAR} </if>
		<if test="contentImg != null and contentImg != '' "> and CONTENT_IMG = #{contentImg,jdbcType=VARCHAR} </if>
		<if test="artCategory != null and artCategory != '' "> and ART_CATEGORY = #{artCategory,jdbcType=VARCHAR} </if>
		<if test="itemType != null and itemType != '' "> and ITEM_TYPE = #{itemType,jdbcType=INTEGER} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM item
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM item
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.copyright.mall.bean.Item">
		 INSERT INTO item
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="shopId != null"> SHOP_ID,</if>
			<if test="barcode != null"> BARCODE,</if>
			<if test="itemClass != null"> ITEM_CLASS,</if>
			<if test="relatedCopyright != null"> RELATED_COPYRIGHT,</if>
			<if test="itemStatus != null"> ITEM_STATUS,</if>
			<if test="itemTitle != null"> ITEM_TITLE,</if>
			<if test="ad != null"> AD,</if>
			<if test="titleImg != null"> TITLE_IMG,</if>
			<if test="contentImg != null"> CONTENT_IMG,</if>
			<if test="artCategory != null"> ART_CATEGORY,</if>
			 <if test="itemType != null"> ITEM_TYPE,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="shopId!=null">#{shopId,jdbcType=BIGINT},</if>
			<if test="barcode!=null">#{barcode,jdbcType=VARCHAR},</if>
			<if test="itemClass!=null">#{itemClass,jdbcType=VARCHAR},</if>
			<if test="relatedCopyright!=null">#{relatedCopyright,jdbcType=VARCHAR},</if>
			<if test="itemStatus!=null">#{itemStatus,jdbcType=INTEGER},</if>
			<if test="itemTitle!=null">#{itemTitle,jdbcType=VARCHAR},</if>
			<if test="ad!=null">#{ad,jdbcType=VARCHAR},</if>
			<if test="titleImg!=null">#{titleImg,jdbcType=VARCHAR},</if>
			<if test="contentImg!=null">#{contentImg,jdbcType=VARCHAR},</if>
			<if test="artCategory!=null">#{artCategory,jdbcType=VARCHAR},</if>
			 <if test="itemType!=null">#{ITEM_TYPE,jdbcType=INTEGER},</if>
		 </trim>
	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.Item">
		 UPDATE item
 		 <set>
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="shopId != null">SHOP_ID = #{shopId,jdbcType=BIGINT},</if>
			<if test="barcode != null">BARCODE = #{barcode,jdbcType=VARCHAR},</if>
			<if test="itemClass != null">ITEM_CLASS = #{itemClass,jdbcType=VARCHAR},</if>
			<if test="relatedCopyright != null">RELATED_COPYRIGHT = #{relatedCopyright,jdbcType=VARCHAR},</if>
			<if test="itemStatus != null">ITEM_STATUS = #{itemStatus,jdbcType=INTEGER},</if>
			<if test="itemTitle != null">ITEM_TITLE = #{itemTitle,jdbcType=VARCHAR},</if>
			<if test="ad != null">AD = #{ad,jdbcType=VARCHAR},</if>
			<if test="titleImg != null">TITLE_IMG = #{titleImg,jdbcType=VARCHAR},</if>
			<if test="contentImg != null">CONTENT_IMG = #{contentImg,jdbcType=VARCHAR},</if>
			<if test="artCategory != null">ART_CATEGORY = #{artCategory,jdbcType=VARCHAR},</if>
			 <if test="itemType != null">ITEM_TYPE = #{itemType,jdbcType=INTEGER},</if>
 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM item
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*)
		 FROM item
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM item
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

  <select id="selectAllItem" resultMap="BaseResultMap" useCache="false">
    SELECT
    i.id,
    i.SHOP_ID,
    i.BARCODE,
    i.ITEM_CLASS,
    i.RELATED_COPYRIGHT,
    i.ITEM_STATUS,
    i.ITEM_TITLE,
    i.AD,
    i.TITLE_IMG,
    i.CONTENT_IMG,
    s.PRICE,
    s.SIZE_KEY,
    s.SIZE_VALUE,
	  i.ITEM_TYPE
    FROM item i left join sku s on i.id = s.ITEM_ID
    order by i.GMT_MODIFIED desc
  </select>

	<select id="selectItemsByParam" resultMap="BaseResultMap" parameterType="java.util.HashMap"  useCache="false">
		SELECT
		i.GMT_CREATE,
		i.GMT_MODIFIED,
		i.BARCODE,
		i.RELATED_COPYRIGHT,
		i.ITEM_STATUS,
		i.ITEM_TITLE,
		i.AD,
		i.TITLE_IMG,
		i.CONTENT_IMG,
		i.ART_CATEGORY,
		i.ITEM_TYPE,
		i.SHOP_ID,
		i.ID
		FROM
		item i
		WHERE
		1 = 1
		<if test="shopIds != null">
			AND i.shop_id IN
			<foreach collection="shopIds" item="id" index="index"
					 open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		<if test="itemTitle != null">AND i.item_title like concat('%',#{itemTitle,jdbcType=VARCHAR},'%')</if>
		<if test="barcode != null">AND i.barcode like concat('%',#{barcode,jdbcType=VARCHAR},'%')</if>
		<if test="itemIds != null">AND i.id in
			<foreach collection="itemIds" item="id" index="index"
													open="(" close=")" separator=",">
			#{id}
			</foreach>
		</if>
		<if test="itemStatus != null">AND i.item_status = #{itemStatus,jdbcType=INTEGER}</if>
		group by i.id
		order by i.id
	</select>

</mapper>
