<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.MallOrderMapper">

	<!--cg generate by lijian at 2019-11-27 16:15-->

	<!--通用结算单表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.MallOrder" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="mallOrderId" column="MALL_ORDER_ID" jdbcType="VARCHAR" />
		<result property="mallId" column="MALL_ID" jdbcType="VARCHAR" />
		<result property="payStatus" column="PAY_STATUS" jdbcType="INTEGER" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" jdbcType="VARCHAR" />
		<result property="deliveryName" column="DELIVERY_NAME" jdbcType="VARCHAR" />
		<result property="phone" column="PHONE" jdbcType="VARCHAR" />
		<result property="buyer" column="BUYER" jdbcType="VARCHAR" />
		<result property="price" column="PRICE" jdbcType="INTEGER" />
		<result property="payPrice" column="PAY_PRICE" jdbcType="INTEGER" />
		<result property="payTime" column="PAY_TIME" jdbcType="TIMESTAMP" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	MALL_ORDER_ID,	MALL_ID,	PAY_STATUS,	DELIVERY_ADDRESS,	DELIVERY_NAME,	PHONE,	BUYER,	PRICE,	PAY_PRICE,	PAY_TIME
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtCreate != null and gmtCreate != '' "> and GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="mallOrderId != null and mallOrderId != '' "> and MALL_ORDER_ID = #{mallOrderId,jdbcType=VARCHAR} </if>
		<if test="mallId != null and mallId != '' "> and MALL_ID = #{mallId,jdbcType=VARCHAR} </if>
		<if test="payStatus != null "> and PAY_STATUS = #{payStatus,jdbcType=INTEGER} </if>
		<if test="deliveryAddress != null and deliveryAddress != '' "> and DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR} </if>
		<if test="deliveryName != null and deliveryName != '' "> and DELIVERY_NAME = #{deliveryName,jdbcType=VARCHAR} </if>
		<if test="phone != null and phone != '' "> and PHONE = #{phone,jdbcType=VARCHAR} </if>
		<if test="buyer != null and buyer != '' "> and BUYER = #{buyer,jdbcType=VARCHAR} </if>
		<if test="price != null "> and PRICE = #{price,jdbcType=INTEGER} </if>
		<if test="payPrice != null "> and PAY_PRICE = #{payPrice,jdbcType=INTEGER} </if>
		<if test="payTime != null and payTime != '' "> and PAY_TIME = #{payTime,jdbcType=TIMESTAMP} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM mall_order
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM mall_order
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" parameterType="com.copyright.mall.bean.MallOrder">
		 INSERT INTO mall_order
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="mallOrderId != null"> MALL_ORDER_ID,</if>
			<if test="mallId != null"> MALL_ID,</if>
			<if test="payStatus != null"> PAY_STATUS,</if>
			<if test="deliveryAddress != null"> DELIVERY_ADDRESS,</if>
			<if test="deliveryName != null"> DELIVERY_NAME,</if>
			<if test="phone != null"> PHONE,</if>
			<if test="buyer != null"> BUYER,</if>
			<if test="price != null"> PRICE,</if>
			<if test="payPrice != null"> PAY_PRICE,</if>
			<if test="payTime != null"> PAY_TIME,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallOrderId!=null">#{mallOrderId,jdbcType=VARCHAR},</if>
			<if test="mallId!=null">#{mallId,jdbcType=VARCHAR},</if>
			<if test="payStatus!=null">#{payStatus,jdbcType=INTEGER},</if>
			<if test="deliveryAddress!=null">#{deliveryAddress,jdbcType=VARCHAR},</if>
			<if test="deliveryName!=null">#{deliveryName,jdbcType=VARCHAR},</if>
			<if test="phone!=null">#{phone,jdbcType=VARCHAR},</if>
			<if test="buyer!=null">#{buyer,jdbcType=VARCHAR},</if>
			<if test="price!=null">#{price,jdbcType=INTEGER},</if>
			<if test="payPrice!=null">#{payPrice,jdbcType=INTEGER},</if>
			<if test="payTime!=null">#{payTime,jdbcType=TIMESTAMP},</if>
		 </trim>
	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.MallOrder">
		 UPDATE mall_order
 		 <set> 
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallOrderId != null">MALL_ORDER_ID = #{mallOrderId,jdbcType=VARCHAR},</if>
			<if test="mallId != null">MALL_ID = #{mallId,jdbcType=VARCHAR},</if>
			<if test="payStatus != null">PAY_STATUS = #{payStatus,jdbcType=INTEGER},</if>
			<if test="deliveryAddress != null">DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},</if>
			<if test="deliveryName != null">DELIVERY_NAME = #{deliveryName,jdbcType=VARCHAR},</if>
			<if test="phone != null">PHONE = #{phone,jdbcType=VARCHAR},</if>
			<if test="buyer != null">BUYER = #{buyer,jdbcType=VARCHAR},</if>
			<if test="price != null">PRICE = #{price,jdbcType=INTEGER},</if>
			<if test="payPrice != null">PAY_PRICE = #{payPrice,jdbcType=INTEGER},</if>
			<if test="payTime != null">PAY_TIME = #{payTime,jdbcType=TIMESTAMP},</if>

 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM mall_order
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*) 
		 FROM mall_order
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM mall_order
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

</mapper>