<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.ShopMapper">

	<!--cg generate by lijian at 2019-12-03 10:45-->

	<!--通用商铺表表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.Shop" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="mallId" column="MALL_ID" jdbcType="BIGINT" />
		<result property="shopName" column="SHOP_NAME" jdbcType="VARCHAR" />
		<result property="shopLogo" column="SHOP_LOGO" jdbcType="VARCHAR" />
		<result property="shopType" column="SHOP_TYPE" jdbcType="INTEGER" />
		<result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR" />
		<result property="certification" column="CERTIFICATION" jdbcType="VARCHAR" />
		<result property="shopImg" column="SHOP_IMG" jdbcType="VARCHAR" />
		<result property="shopArtcategory" column="SHOP_ARTCATEGORY" jdbcType="VARCHAR" />
		<result property="isIdentification" column="IS_IDENTIFICATION" jdbcType="INTEGER" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	MALL_ID,	SHOP_NAME,	SHOP_LOGO,	SHOP_TYPE,	COMPANY_NAME,	CERTIFICATION,	SHOP_IMG,	SHOP_ARTCATEGORY,	IS_IDENTIFICATION
	</sql>

	<sql id="Shop_Base_Column_List">
		s.id,	s.GMT_CREATE,	s.GMT_MODIFIED,	s.MALL_ID,	s.SHOP_NAME,	s.SHOP_LOGO,	s.SHOP_TYPE,	s.COMPANY_NAME,	s.CERTIFICATION,	s.SHOP_IMG,	s.SHOP_ARTCATEGORY,	s.IS_IDENTIFICATION
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtCreate != null and gmtCreate != '' "> and GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="mallId != null and mallId != '' "> and MALL_ID = #{mallId,jdbcType=BIGINT} </if>
		<if test="shopName != null and shopName != '' "> and SHOP_NAME = #{shopName,jdbcType=VARCHAR} </if>
		<if test="shopLogo != null and shopLogo != '' "> and SHOP_LOGO = #{shopLogo,jdbcType=VARCHAR} </if>
		<if test="shopType != null "> and SHOP_TYPE = #{shopType,jdbcType=INTEGER} </if>
		<if test="companyName != null and companyName != '' "> and COMPANY_NAME = #{companyName,jdbcType=VARCHAR} </if>
		<if test="certification != null and certification != '' "> and CERTIFICATION = #{certification,jdbcType=VARCHAR} </if>
		<if test="shopImg != null and shopImg != '' "> and SHOP_IMG = #{shopImg,jdbcType=VARCHAR} </if>
		<if test="shopArtcategory != null and shopArtcategory != '' "> and SHOP_ARTCATEGORY = #{shopArtcategory,jdbcType=VARCHAR} </if>
		<if test="isIdentification != null "> and IS_IDENTIFICATION = #{isIdentification,jdbcType=INTEGER} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM shop
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.copyright.mall.bean.Shop">
		 INSERT INTO shop
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="mallId != null"> MALL_ID,</if>
			<if test="shopName != null"> SHOP_NAME,</if>
			<if test="shopLogo != null"> SHOP_LOGO,</if>
			<if test="shopType != null"> SHOP_TYPE,</if>
			<if test="companyName != null"> COMPANY_NAME,</if>
			<if test="certification != null"> CERTIFICATION,</if>
			<if test="shopImg != null"> SHOP_IMG,</if>
			<if test="shopArtcategory != null"> SHOP_ARTCATEGORY,</if>
			<if test="isIdentification != null"> IS_IDENTIFICATION,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallId!=null">#{mallId,jdbcType=BIGINT},</if>
			<if test="shopName!=null">#{shopName,jdbcType=VARCHAR},</if>
			<if test="shopLogo!=null">#{shopLogo,jdbcType=VARCHAR},</if>
			<if test="shopType!=null">#{shopType,jdbcType=INTEGER},</if>
			<if test="companyName!=null">#{companyName,jdbcType=VARCHAR},</if>
			<if test="certification!=null">#{certification,jdbcType=VARCHAR},</if>
			<if test="shopImg!=null">#{shopImg,jdbcType=VARCHAR},</if>
			<if test="shopArtcategory!=null">#{shopArtcategory,jdbcType=VARCHAR},</if>
			<if test="isIdentification!=null">#{isIdentification,jdbcType=INTEGER},</if>
		 </trim>

	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.Shop">
		 UPDATE shop
 		 <set> 
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallId != null">MALL_ID = #{mallId,jdbcType=BIGINT},</if>
			<if test="shopName != null">SHOP_NAME = #{shopName,jdbcType=VARCHAR},</if>
			<if test="shopLogo != null">SHOP_LOGO = #{shopLogo,jdbcType=VARCHAR},</if>
			<if test="shopType != null">SHOP_TYPE = #{shopType,jdbcType=INTEGER},</if>
			<if test="companyName != null">COMPANY_NAME = #{companyName,jdbcType=VARCHAR},</if>
			<if test="certification != null">CERTIFICATION = #{certification,jdbcType=VARCHAR},</if>
			<if test="shopImg != null">SHOP_IMG = #{shopImg,jdbcType=VARCHAR},</if>
			<if test="shopArtcategory != null">SHOP_ARTCATEGORY = #{shopArtcategory,jdbcType=VARCHAR},</if>
			<if test="isIdentification != null">IS_IDENTIFICATION = #{isIdentification,jdbcType=INTEGER},</if>

 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*) 
		 FROM shop
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<select id="selectPageByUserId" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT
		<include refid="Shop_Base_Column_List" />
		FROM shop s
		LEFT JOIN user_shop_relation usr ON s.id = usr.shop_id
		where
		1=1
		<if test="userId != null and userId != ''"> and usr.user_id = #{userId,jdbcType=BIGINT} </if>
		limit #{startOfPage},#{pageSize}
	</select>

</mapper>