<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.ShopOrderMapper">

	<!--cg generate by lijian at 2019-11-27 16:15-->

	<!--通用商铺订单表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.ShopOrder" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="mallOrderId" column="MALL_ORDER_ID" jdbcType="VARCHAR" />
		<result property="shopOrderId" column="SHOP_ORDER_ID" jdbcType="VARCHAR" />
		<result property="orderType" column="ORDER_TYPE" jdbcType="INTEGER" />
		<result property="shopId" column="SHOP_ID" jdbcType="BIGINT" />
		<result property="price" column="PRICE" jdbcType="INTEGER" />
		<result property="deliveryOrderId" column="DELIVERY_ORDER_ID" jdbcType="VARCHAR" />
		<result property="delliveryCompanyName" column="DELLIVERY_COMPANY_NAME" jdbcType="VARCHAR" />
		<result property="orderCreateTime" column="ORDER_CREATE_TIME" jdbcType="TIMESTAMP" />
		<result property="payPrice" column="PAY_PRICE" jdbcType="INTEGER" />
		<result property="payTime" column="PAY_TIME" jdbcType="TIMESTAMP" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	MALL_ORDER_ID,	SHOP_ORDER_ID,	ORDER_TYPE,	SHOP_ID,	PRICE,	DELIVERY_ORDER_ID,	DELLIVERY_COMPANY_NAME,	ORDER_CREATE_TIME,	PAY_PRICE,	PAY_TIME
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="mallOrderId != null and mallOrderId != '' "> and MALL_ORDER_ID = #{mallOrderId,jdbcType=VARCHAR} </if>
		<if test="shopOrderId != null and shopOrderId != '' "> and SHOP_ORDER_ID = #{shopOrderId,jdbcType=VARCHAR} </if>
		<if test="orderType != null "> and ORDER_TYPE = #{orderType,jdbcType=INTEGER} </if>
		<if test="shopId != null and shopId != '' "> and SHOP_ID = #{shopId,jdbcType=BIGINT} </if>
		<if test="price != null "> and PRICE = #{price,jdbcType=INTEGER} </if>
		<if test="deliveryOrderId != null and deliveryOrderId != '' "> and DELIVERY_ORDER_ID = #{deliveryOrderId,jdbcType=VARCHAR} </if>
		<if test="delliveryCompanyName != null and delliveryCompanyName != '' "> and DELLIVERY_COMPANY_NAME = #{delliveryCompanyName,jdbcType=VARCHAR} </if>
		<if test="orderCreateTime != null and orderCreateTime != '' "> and ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP} </if>
		<if test="payPrice != null "> and PAY_PRICE = #{payPrice,jdbcType=INTEGER} </if>
		<if test="payTime != null and payTime != '' "> and PAY_TIME = #{payTime,jdbcType=TIMESTAMP} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop_order
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM shop_order
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" parameterType="com.copyright.mall.bean.ShopOrder">
		 INSERT INTO shop_order
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="mallOrderId != null"> MALL_ORDER_ID,</if>
			<if test="shopOrderId != null"> SHOP_ORDER_ID,</if>
			<if test="orderType != null"> ORDER_TYPE,</if>
			<if test="shopId != null"> SHOP_ID,</if>
			<if test="price != null"> PRICE,</if>
			<if test="deliveryOrderId != null"> DELIVERY_ORDER_ID,</if>
			<if test="delliveryCompanyName != null"> DELLIVERY_COMPANY_NAME,</if>
			<if test="orderCreateTime != null"> ORDER_CREATE_TIME,</if>
			<if test="payPrice != null"> PAY_PRICE,</if>
			<if test="payTime != null"> PAY_TIME,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallOrderId!=null">#{mallOrderId,jdbcType=VARCHAR},</if>
			<if test="shopOrderId!=null">#{shopOrderId,jdbcType=VARCHAR},</if>
			<if test="orderType!=null">#{orderType,jdbcType=INTEGER},</if>
			<if test="shopId!=null">#{shopId,jdbcType=BIGINT},</if>
			<if test="price!=null">#{price,jdbcType=INTEGER},</if>
			<if test="deliveryOrderId!=null">#{deliveryOrderId,jdbcType=VARCHAR},</if>
			<if test="delliveryCompanyName!=null">#{delliveryCompanyName,jdbcType=VARCHAR},</if>
			<if test="orderCreateTime!=null">#{orderCreateTime,jdbcType=TIMESTAMP},</if>
			<if test="payPrice!=null">#{payPrice,jdbcType=INTEGER},</if>
			<if test="payTime!=null">#{payTime,jdbcType=TIMESTAMP},</if>
		 </trim>
	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.ShopOrder">
		 UPDATE shop_order
 		 <set> 
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallOrderId != null">MALL_ORDER_ID = #{mallOrderId,jdbcType=VARCHAR},</if>
			<if test="shopOrderId != null">SHOP_ORDER_ID = #{shopOrderId,jdbcType=VARCHAR},</if>
			<if test="orderType != null">ORDER_TYPE = #{orderType,jdbcType=INTEGER},</if>
			<if test="shopId != null">SHOP_ID = #{shopId,jdbcType=BIGINT},</if>
			<if test="price != null">PRICE = #{price,jdbcType=INTEGER},</if>
			<if test="deliveryOrderId != null">DELIVERY_ORDER_ID = #{deliveryOrderId,jdbcType=VARCHAR},</if>
			<if test="delliveryCompanyName != null">DELLIVERY_COMPANY_NAME = #{delliveryCompanyName,jdbcType=VARCHAR},</if>
			<if test="orderCreateTime != null">ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},</if>
			<if test="payPrice != null">PAY_PRICE = #{payPrice,jdbcType=INTEGER},</if>
			<if test="payTime != null">PAY_TIME = #{payTime,jdbcType=TIMESTAMP},</if>

 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByShopOrderIdSelective">
		UPDATE shop_order
		<set>
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="mallOrderId != null">MALL_ORDER_ID = #{mallOrderId,jdbcType=VARCHAR},</if>
			<if test="shopOrderId != null">SHOP_ORDER_ID = #{shopOrderId,jdbcType=VARCHAR},</if>
			<if test="orderType != null">ORDER_TYPE = #{orderType,jdbcType=INTEGER},</if>
			<if test="shopId != null">SHOP_ID = #{shopId,jdbcType=BIGINT},</if>
			<if test="price != null">PRICE = #{price,jdbcType=INTEGER},</if>
			<if test="deliveryOrderId != null">DELIVERY_ORDER_ID = #{deliveryOrderId,jdbcType=VARCHAR},</if>
			<if test="delliveryCompanyName != null">DELLIVERY_COMPANY_NAME = #{delliveryCompanyName,jdbcType=VARCHAR},</if>
			<if test="orderCreateTime != null">ORDER_CREATE_TIME = #{orderCreateTime,jdbcType=TIMESTAMP},</if>
			<if test="payPrice != null">PAY_PRICE = #{payPrice,jdbcType=INTEGER},</if>
			<if test="payTime != null">PAY_TIME = #{payTime,jdbcType=TIMESTAMP},</if>
		</set>
		WHERE SHOP_ORDER_ID = #{shopOrderId,jdbcType=VARCHAR}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop_order
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*) 
		 FROM shop_order
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shop_order
		 <where>
			 <include refid="conditions" />
		 </where>
		order by GMT_CREATE desc
	</select>
    <select id="selectOrderDetailList" resultType="com.copyright.mall.manage.domain.dto.ShopItemOrderDetail">
		SELECT
		shop_order.ORDER_TYPE AS orderStatus,
		shop_order.SHOP_ID AS shopId,
		shop.SHOP_NAME AS shopName,
		shop_order.PAY_PRICE AS payPrice,
		shop_order.SHOP_ORDER_ID as shopOrderId,
		item_order.item_order_id AS itemOrderId,
		item_order.SKU_ID AS skuId,
		item_order.item_Price AS productPrice,
		item_order.item_Count AS num,
		item.title_Img as image,
		item.ITEM_TITLE AS productName,
		shop_order.DELLIVERY_COMPANY_NAME as delliveryCompanyName,
		shop_order.ORDER_CREATE_TIME as createTime,
		shop_order.DELIVERY_ORDER_ID as deliveryOrderId,
		shop_order.pay_time as payTime,
		shop_order.price as price,
		item.item_type as itemType,
		mall_order.delivery_name as deliveryName,
		mall_order.delivery_address as deliveryAddress,
		mall_order.phone as deliveryPhone
		FROM
		mall_order,
		shop_order,
		item_order,
		sku,
		item,
		shop
		<where>
			mall_order.MALL_ORDER_ID = shop_order.MALL_ORDER_ID
			AND shop_order.SHOP_ORDER_ID = item_order.SHOP_ORDER_ID
			AND item_order.SKU_ID = sku.id
			AND item_order.ITEM_ID = item.id
			AND shop_order.shop_Id = shop.id
			<if test="status != null" > and shop_order.ORDER_TYPE in <foreach collection="status" item="item" index="i" open="(" separator="," close=")">#{item,jdbcType=INTEGER}</foreach> </if>
			<if test="orderId != null and orderId != '' "> and shop_order.SHOP_ORDER_ID = #{orderId,jdbcType=VARCHAR} </if>
			<if test="userName != null and userName != '' "> and mall_order.BUYER = #{userName,jdbcType=VARCHAR} </if>
			<if test="shopName != null and shopName != '' "> and shop.shop_name = #{shopName,jdbcType=VARCHAR} </if>
			<if test="shopId != null and shopId != '' "> and shop_order.shop_id = #{shopId,jdbcType=BIGINT}</if>
			<if test="orderStartTime != null "> and shop_order.GMT_CREATE <![CDATA[ >= ]]> #{orderStartTime,jdbcType=TIMESTAMP} </if>
			<if test="orderEndTime != null  "> and shop_order.GMT_CREATE <![CDATA[ <= ]]> #{orderEndTime,jdbcType=TIMESTAMP} </if>
			<if	test="itemName!= null " >and exists(
				select 1 from item_order , item
				where item_order.shop_order_id = shop_order.shop_order_id
				and item_order.item_id = item.id
				and item.item_title like CONCAT('%' ,#{itemName,jdbcType=VARCHAR} , '%')
				)
			</if>
		</where>
		order by shop_order.GMT_CREATE desc
	</select>
	<select id="selectShopOrder" resultType="com.copyright.mall.manage.domain.dto.ShopOrderDetail">
		SELECT
		shop_order.ORDER_TYPE AS orderStatus,
		shop_order.SHOP_ID AS shopId,
		shop.SHOP_NAME AS shopName,
		shop_order.PAY_PRICE AS payPrice,
		shop_order.SHOP_ORDER_ID as shopOrderId,
		shop_order.DELLIVERY_COMPANY_NAME as delliveryCompanyName,
		shop_order.ORDER_CREATE_TIME as createTime,
		shop_order.DELIVERY_ORDER_ID as deliveryOrderId,
		shop_order.pay_time as payTime,
		shop_order.price as price,
		mall_order.delivery_name as deliveryName,
		mall_order.delivery_address as deliveryAddress,
		mall_order.phone as deliveryPhone
		FROM
		mall_order,
		shop_order,
		shop
		<where>
			mall_order.MALL_ORDER_ID = shop_order.MALL_ORDER_ID
			AND shop_order.shop_Id = shop.id
			<if test="status != null" > and shop_order.ORDER_TYPE in <foreach collection="status" item="item" index="i" open="(" separator="," close=")">#{item,jdbcType=INTEGER}</foreach> </if>
			<if test="orderId != null and orderId != '' "> and shop_order.SHOP_ORDER_ID = #{orderId,jdbcType=VARCHAR} </if>
			<if test="userName != null and userName != '' "> and mall_order.BUYER = #{userName,jdbcType=VARCHAR} </if>
			<if test="shopName != null and shopName != '' "> and shop.shop_name like CONCAT('%' ,#{shopName,jdbcType=VARCHAR} , '%') </if>
			<if test="shopId != null and shopId != '' "> and shop_order.shop_id = #{shopId,jdbcType=BIGINT}</if>
			<if test="orderStartTime != null "> and shop_order.GMT_CREATE <![CDATA[ >= ]]> #{orderStartTime,jdbcType=TIMESTAMP} </if>
			<if test="orderEndTime != null "> and shop_order.GMT_CREATE <![CDATA[ <= ]]> #{orderEndTime,jdbcType=TIMESTAMP} </if>
			<if	test="itemName!= null " >and exists(
				select 1 from item_order , item
				where item_order.shop_order_id = shop_order.shop_order_id

				and item_order.item_id = item.id
				and item.item_title like CONCAT('%' ,#{itemName,jdbcType=VARCHAR} , '%')
				)
			</if>
		</where>
		order by shop_order.id desc
	</select>

</mapper>