<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copyright.mall.dao.UserMapper">

	<!--cg generate by lijian at 2020-05-08 12:46-->

	<!--通用用户表表映射-->
	<resultMap id="BaseResultMap" type="com.copyright.mall.bean.User" >
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP" />
		<result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP" />
		<result property="phone" column="PHONE" jdbcType="VARCHAR" />
		<result property="img" column="IMG" jdbcType="VARCHAR" />
		<result property="sessionKey" column="SESSION_KEY" jdbcType="VARCHAR" />
		<result property="openId" column="OPEN_ID" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
	</resultMap>


	<!-- 通用查询结果集合-->
	<sql id="Base_Column_List">
	id,	GMT_CREATE,	GMT_MODIFIED,	PHONE,	IMG,	SESSION_KEY,	OPEN_ID,	PASSWORD
	</sql>

	<!-- 公共查询条件-->
	<!-- collection foreach DATE_FORMAT(create_time,'%Y-%m-%d') like CONCAT('%',#{goodsNo,jdbcType=VARCHAR},'%') -->
	<!-- <![CDATA[<=]]> date_format(FROM_UNIXTIME(expire_time),'%Y-%c-%d %h:%i:%s') as showExpireTime-->

	<sql id="conditions">
		<if test="id != null and id != '' "> and ID = #{id,jdbcType=BIGINT} </if>
		<if test="gmtCreate != null and gmtCreate != '' "> and GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP} </if>
		<if test="gmtModified != null and gmtModified != '' "> and GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP} </if>
		<if test="phone != null and phone != '' "> and PHONE = #{phone,jdbcType=VARCHAR} </if>
		<if test="img != null and img != '' "> and IMG = #{img,jdbcType=VARCHAR} </if>
		<if test="sessionKey != null and sessionKey != '' "> and SESSION_KEY = #{sessionKey,jdbcType=VARCHAR} </if>
		<if test="openId != null and openId != '' "> and OPEN_ID = #{openId,jdbcType=VARCHAR} </if>
		<if test="password != null and password != '' "> and PASSWORD = #{password,jdbcType=VARCHAR} </if>
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM user
		 WHERE ID = #{id,jdbcType=BIGINT}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM user
		 WHERE ID = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 添加 （匹配有值的字段,不建议使用）-->
	<insert id="insertSelective" parameterType="com.copyright.mall.bean.User">
		 INSERT INTO user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null"> ID,</if>
			<if test="gmtCreate != null"> GMT_CREATE,</if>
			<if test="gmtModified != null"> GMT_MODIFIED,</if>
			<if test="phone != null"> PHONE,</if>
			<if test="img != null"> IMG,</if>
			<if test="sessionKey != null"> SESSION_KEY,</if>
			<if test="openId != null"> OPEN_ID,</if>
			<if test="password != null"> PASSWORD,</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">#{id,jdbcType=BIGINT},</if>
			<if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="phone!=null">#{phone,jdbcType=VARCHAR},</if>
			<if test="img!=null">#{img,jdbcType=VARCHAR},</if>
			<if test="sessionKey!=null">#{sessionKey,jdbcType=VARCHAR},</if>
			<if test="openId!=null">#{openId,jdbcType=VARCHAR},</if>
			<if test="password!=null">#{password,jdbcType=VARCHAR},</if>
		 </trim>
	</insert>

	<!-- 根据主键修改输入的值-->
	<update id="updateByPrimaryKeySelective" parameterType="com.copyright.mall.bean.User">
		 UPDATE user
 		 <set> 
			<if test="gmtCreate != null">GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},</if>
			<if test="gmtModified != null">GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},</if>
			<if test="phone != null">PHONE = #{phone,jdbcType=VARCHAR},</if>
			<if test="img != null">IMG = #{img,jdbcType=VARCHAR},</if>
			<if test="sessionKey != null">SESSION_KEY = #{sessionKey,jdbcType=VARCHAR},</if>
			<if test="openId != null">OPEN_ID = #{openId,jdbcType=VARCHAR},</if>
			<if test="password != null">PASSWORD = #{password,jdbcType=VARCHAR},</if>

 		 </set>
		 WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 分页查询 -->
	<select id="selectObjectListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM user
		 WHERE 1=1
		 <include refid="conditions" />
		 ORDER BY id DESC
		 limit #{startOfPage},#{pageSize}
	</select>

	<!-- 分页查询总数 -->
	<select id="selectObjectListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
		 SELECT
		 count(*) 
		 FROM user
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

	<!-- 按条件查询列表 -->
	<select id="selectByObjectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM user
		 WHERE 1=1
		 <include refid="conditions" />
	</select>

</mapper>